<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>Добро пожаловать!</p>
        <p>Здесь на этом сайте вы можете добавить показатели своего здоровья или загрузить их из файла</p>
        <a href = "{% url 'HealthForm' %}">
            <button> Добавить запись </button>
        </a>
        <a href = "{% url 'UploadedFileForm' %}">
            <button> Загрузить файл </button>
        </a>

        <ul>
            {% for file in files %}
                <p><a href="{% url 'JSONInfo' file %}">{{ file }}</a></p>
            {% empty %}
                <p>Нет файлов</p>
            {% endfor %}
        </ul>
    </body>
</html>