<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title> Просмотр файла </title>
    </head>
    <body>
        <a href = "{% url 'HomePage' %}">
            <button> Назад </button>
        </a>
        
        <h2>{{ name }}</h2>
    
        {% if error %}
            <p>Ошибка: {{ error }}</p>
        {% else %}
            <ul>
                {% for d in data %}
                    {% for key, value in d.items %}
                        <li>
                            <p>{{ key }}-{{ value }}</p>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>